body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
}


h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #555;
}


input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 1px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}


#resultado {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-align: center;
}